{# templates/sidebar/sidebar.html.twig #}
{# extends 'layout.html.twig' #}
 
{% block body %}
    <section class="section">
	    <header>
	        <h3>Tag Cloud</h3>
	    </header>
	    <p class="tags">
	         
	    </p>
	</section>

	<section class="section">
	    <header>
	        <h3>Software Version:</h3>
	    </header>
	    <p>
	        Unicorn Blog  <font size="-1">v{{ shivas_app_version }}</font>
	    </p>
	</section>



{% endblock %}